@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prompt";
  src: url("../../public/fonts/Prompt-ExtraLight.ttf");
}
@font-face {
  font-family: "PromptBI";
  src: url("../../public/fonts/Prompt-SemiBold.ttf");
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

.err {
  background-image: linear-gradient(
      45deg,
      transparent 65%,
      red 80%,
      transparent 90%
    ),
    linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
    linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
    linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-position: 0 95%;
  line-height: 1.25em;
}
