@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prompt";
  src: url("../../public/fonts/Prompt-ExtraLight.ttf");
}
@font-face {
  font-family: "PromptBI";
  src: url("../../public/fonts/Prompt-SemiBold.ttf");
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
